* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.chatbot-container {
    padding: 1rem;
    max-width: 500px;
    width: 90%;
    max-height: 700px;
    height: 75%;
    position: absolute;
    right: 1rem;
    bottom: 5rem;
    display: none;

}

#ingestaiFrame {

    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 9px 27px 4px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 9px 27px 4px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 9px 27px 4px rgba(0, 0, 0, 0.33);

}

.chatbot-icon-container {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
}

.chatbot-img {
    width: 100%;
    height: auto;
}

/* chatbotiimage animation */
.chatbot-icon-container {
    -webkit-animation: mover 1s infinite alternate;
    animation: moveUpAndDown 1s infinite alternate;
}

@-webkit-keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.show-hide-chatbot {
    display: block;
}